@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap");

html, body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 300;
}

.hero {
    background: #fafafa;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box {
    margin-top: 5rem;
}

.avatar {
    margin: -70px auto 20px auto;
    padding: 7px;
    background: #fff;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

input {
    font-weight: 300;
}

p {
    font-weight: 700;
}
p.light {
    font-weight: 300;
}