<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="#{auth.forgotPassword.title(${title})}"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <figure class="image avatar is-128x128">
                        <img th:src="${logoSrc}" class="is-rounded">
                    </figure>


                    <div class="notification" th:classappend="${usernameOrEmailRequired} != null ? 'is-danger'" th:text="#{auth.forgotPassword.emailOrUsername}">
                        One is required - Username or Email.
                    </div>

                    <form name="f" th:action="@{/forgot}" th:object="${forgotForm}" method="post">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" th:field="*{username}"
                                       th:attr="placeholder=#{auth.username.placeholder}" autofocus/>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" th:field="*{email}"
                                       th:attr="placeholder=#{auth.email.placeholder}" />
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" type="submit" th:text="#{auth.forgotPassword.submit}">Request Reset</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a th:href="@{/login}" th:text="#{auth.login}">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>


</body>
</html>