<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="#{auth.registration.title(${title})}"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <figure class="image avatar is-128x128">
                        <img th:src="${logoSrc}" class="is-rounded">
                    </figure>

                    <form name="f" th:action="@{/registration}" th:object="${registrationForm}" method="post">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" th:classappend="(${#fields.hasErrors('username')} OR ${usernameErrors} != null) ? 'is-danger'" type="text" th:field="*{username}"
                                       th:attr="placeholder=#{auth.username.placeholder}" autofocus/>
                                <p th:if="${#fields.hasErrors('username')}" th:error="*{username}" class="help is-danger" th:text="#{auth.username.invalid}">Username is invalid</p>
                                <p th:if="${usernameErrors} != null" class="help is-danger" th:text="${usernameErrors}"></p>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" th:field="*{firstName}"
                                               th:attr="placeholder=#{auth.firstName.placeholder}" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" th:field="*{lastName}"
                                               th:attr="placeholder=#{auth.lastName.placeholder}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" th:classappend="(${#fields.hasErrors('email')}  OR ${emailErrors} != null)? 'is-danger'" type="email" th:field="*{email}"
                                       th:attr="placeholder=#{auth.email.placeholder}"/>
                                <p th:if="${#fields.hasErrors('email')}" th:error="*{email}" class="help is-danger" th:text="#{auth.email.invalid}">Email is invalid</p>
                                <p th:if="${emailErrors} != null" class="help is-danger" th:text="${emailErrors}"></p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" th:classappend="(${#fields.hasErrors('password')} OR ${passwordErrors} != null)? 'is-danger'" type="password" th:field="*{password}"
                                       th:attr="placeholder=#{auth.password.placeholder}"/>
                                <p th:if="${#fields.hasErrors('password')}" th:error="*{password}" class="help is-danger" th:text="#{auth.password.invalid}">Password is invalid</p>
                                <p th:if="${passwordErrors} != null" class="help is-danger" th:text="${passwordErrors}"></p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" th:classappend="(${#fields.hasErrors('password')} OR ${passwordErrors} != null)? 'is-danger'" type="password" th:field="*{passwordRepeat}"
                                       th:attr="placeholder=#{auth.passwordRepeat.placeholder}"/>
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" type="submit" th:text="#{auth.registration.submit}">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>