<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="#{auth.registration.title(${title})}"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <figure class="image avatar is-128x128">
                        <img th:src="${logoSrc}" class="is-rounded">
                    </figure>

                    <h2 th:text="#{auth.registration.success}">Successfully registered *Yeah*</h2>
                    <div class="notification is-warning" th:if="${needsVerification}" th:text="#{auth.registration.needsVerification(${expiresAfter})}">
                        You need to verify your email. Please check your mailbox! Via the link you can confirm your registration within X minutes.
                    </div>
                    <div class="notification" th:unless="${needsVerification}" th:text="#{auth.registration.noVerification}">
                        You can now to the application.
                    </div>
                </div>
                <p class="has-text-grey">
                    <a th:href="@{/login}" th:text="#{auth.login}">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>


</body>
</html>