<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="${title} + ' - Verification'"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <figure class="avatar">
                        <img th:src="${logoSrc}" class="image is-128x128">
                    </figure>

                    <div th:if="${successfull}">
                    <h2>Successfully verified *Yeah*</h2>
                    <p>You can start using the app. Goto <a th:href="@{/login}">Login</a></p>
                    </div>
                    <div th:unless="${successfull}">
                    <h2 class="is-danger">Could not verify your registration</h2>
                    <p>Please retry or contact the adminstrator :/</p>
                    </div>
                </div>
            </div>
        </div>
</section>


</body>
</html>