<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="#{auth.verification.title(${title})}"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <figure class="avatar">
                        <img th:src="${logoSrc}" class="image is-128x128">
                    </figure>

                    <div th:if="${successfull}">
                    <h2 th:text="#{auth.verification.success.headline}">Successfully verified *Yeah*</h2>
                    <p th:text="#{auth.verification.success.info}">You can start using the app.</p>
                    </div>
                    <div th:unless="${successfull}">
                    <h2 class="is-danger" th:text="#{auth.verification.error.headline}">Could not verify your registration.</h2>
                    <p  th:text="#{auth.verification.error.info}">Please retry or contact the adminstrator./</p>
                    </div>
                </div>
                <p class="has-text-grey">
                    <a th:href="@{/login}" th:text="#{auth.login}">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>


</body>
</html>