<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="#{auth.resetPassword.title(${title})}"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <figure class="image avatar is-128x128">
                        <img th:src="${logoSrc}" class="is-rounded">
                    </figure>

                    <article class="message is-danger" th:unless="${verificationValid}">
                        <div class="message-body" th:text="#{auth.resetPassword.error}">
                            Verfication is expired please request a new reset!
                        </div>
                    </article>

                    <form name="f" th:action="@{/reset-password}" th:object="${resetPasswordForm}" method="post" th:if="${verificationValid}">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" th:classappend="(${#fields.hasErrors('password')} OR ${passwordErrors} != null)? 'is-danger'" type="password" th:field="*{password}"
                                       th:attr="placeholder=#{auth.password.placeholder}"/>
                                <p th:if="${#fields.hasErrors('password')}" th:error="*{password}" class="help is-danger" th:text="#{auth.password.invalid}">Password is invalid</p>
                                <p th:if="${passwordErrors} != null" class="help is-danger" th:text="${passwordErrors}"></p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" th:classappend="(${#fields.hasErrors('password')} OR ${passwordErrors} != null)? 'is-danger'" type="password" th:field="*{passwordRepeat}"
                                       th:attr="placeholder=#{auth.passwordRepeat.placeholder}"/>
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" type="submit" th:text="#{auth.resetPassword.submit}">Change password</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a th:href="@{/login}" th:text="#{auth.login}">Login</a>
                    <span> · </span>
                    <a th:href="@{/forgot}" th:text="#{auth.forgotPassword}">Forgot Password</a>
                </p>
            </div>
        </div>
    </div>
</section>


</body>
</html>