<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <title th:text="#{auth.resetPassword.title(${title})}"></title>
    <link href="/assets/commons-auth.css" rel="stylesheet">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <figure class="image avatar is-128x128">
                        <img th:src="${logoSrc}" class="is-rounded">
                    </figure>


                    <article class="message is-success">
                        <div class="message-body" th:text="#{auth.resetPassword.success.headline}">Successfully changed password *Yeah*</div>
                    </article>

                    <div class="notification" th:text="#{auth.resetPassword.success.info}">
                        You can now login to the application again.
                    </div>
                </div>
                <p class="has-text-grey">
                    <a th:href="@{/login}" th:text="#{auth.login}">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>


</body>
</html>